/*********************************/
/*             Helper            */
/*===============================*/

.container,
.contacinr-fluid {
    position: relative; /* @apply relative */
}

.text-type-element {
    z-index: 2; /* @apply z-2 */
}

.text-type-element::after {
    content: ''; /* @apply after:content-[''] */
    position: absolute; /* @apply after:absolute */
    height: 0.25rem; /* @apply after:h-1 (1rem é geralmente 16px, então 0.25rem pode ser o equivalente) */
    width: auto; /* @apply after:w-auto */
    background-color: #fb923c; /* @apply after:bg-orange-300 (substitua com a cor do Tailwind) */
    right: 0; /* @apply after:right-0 */
    bottom: 0; /* @apply after:bottom-0 */
    left: 0; /* @apply after:left-0 */
    z-index: 0; /* @apply after:z-0 */
    border-radius: 0.375rem; /* @apply after:rounded-md */
    transition: all 0.3s ease-in-out; /* @apply after:transition-all after:duration-300 after:ease-in-out */
}

/*****************/
/*  back-to-top  */
/*****************/
.back-to-top {
    display: none; /* @apply hidden */
}
